@media(min-width:530px){
h1{
    border-bottom:1px solid royalblue;
    margin-bottom:0px;
   }
ol{
    width:200px;
    margin:0px;
    padding:0px;
    margin-left:20px;
    padding-left:20px;
}
#article{
display:grid;
grid-template-columns: 250px 1fr;
border-bottom:1px solid royalblue;
}
#content{
    border-left:1px solid royalblue;
    margin-left:0px;
    padding-left:0px;
}
h2{
    margin:0px;
}
h3{
    margin:0px;
}
.container {
    width: 530px;
    height: 290px;
    background-color: skyblue;
  }
  
  #circle {
      width: 42px;
      height: 42px;
      background-color: white;
      -moz-border-radius: 21px;
      border-radius: 21px;
  }
}